* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    position: relative;
}

.btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    padding: 32px 68px;
    background-color: #09325c;
    display: block;
}

a::before, a::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #d4ae16;
    transition: 0.9s;
}

a::before {
    top: 0;
    left: 50%;
    width: 0;
    height: 4px;
}

a::after {
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
}

a:hover::before {
    width: 100%;
    left: 0;
}

a:hover::after {
    width: 100%;
    right: 0;
}

span::before, span::after {
    content: '';
    display: block;
    position: absolute;
    transition: 0.9s;
    background-color: #d4ae16;
}

span::before {
    top: 50%;
    left: 0;
    width: 4px;
    height: 0;
}

span::after {
    top: 50%;
    right: 0;
    width: 4px;
    height: 0;
}

a:hover span::before {
    height: 100%;
    top: 0;
}

a:hover span::after {
    height: 100%;
    top: 0;
}